  <div class="container">
    <img src="men.png" alt="Мужик">
    <div *ngIf="user" class="formBackground">

        <p class="title1">{{user.userName}}, выбирете тренировку! </p>

        <ul class="ul">
            <dl *ngFor="let training of user.userTraining">
              <button class="trainingName" (click)="choice(training)" routerLink="/gym/exercise/{{user.userName}}">
                  {{training.trainingName}}

              </button>
              <button class="buttonDelete" (click)="delete(training)">X</button>
            </dl>
        </ul>

        <div class="enter">
            <input class="cell" #trainingName placeholder="введите название тренировки">
            <button class="button" (click)="addTraining(trainingName.value)">Add</button>
        </div>

      </div>
  </div>







<!--
  <form class="form">
        <button class="trainingName" routerLink="">Понедельник</button>
        <button class="trainingName2" routerLink="">Плаванье</button>
        <div class="enter">
          <input id="trainingName" placeholder="введите название тренировки" class="cell">
          <button class="button"  routerLink="">add</button>
        </div>
      </form>
    </div>

    text-align: center;
  position: absolute;
  left: 45%;
  top: 7%;

<div *ngIf="user">
<h3 align="center">Hello {{user.userName}}</h3>

<ul>
  <div align="center">

    <dl *ngFor="let training of user.userTraining">
      <button class="button" (click)="choice(training)" routerLink="/gym/exercise/{{user.userName}}">
        <h1 align="center">
          {{training.trainingName}}
          <button (click)="delete(training)">X</button>
        </h1>
      </button>
    </dl>
  </div>
</ul>

  <div align="center">
    <p>
      Введите название тренировки:
      <input #trainingName>
      <button (click)="addTraining(trainingName.value)">Add</button>
    </p>
  </div>

</div>
-->
