  <div class="container">
    <img src="men.png" alt="Мужик">
    <div *ngIf="user" class="formBackground">

        <p class="title1">{{user.userName}}, выбирете тренировку! </p>

        <ul class="ul">
            <dl *ngFor="let training of user.userTraining">
              <button class="trainingName" (click)="choice(training)" routerLink="/gym/exercise/{{user.userName}}">
                  {{training.trainingName}}

              </button>
              <button class="buttonDelete" (click)="delete(training)">X</button>
            </dl>
        </ul>

        <div class="enter">
            <input class="cell" #trainingName placeholder="введите название тренировки">
            <button class="button" (click)="addTraining(trainingName.value)">Add</button>
        </div>

      </div>
  </div>
