.header{
  height: 969px;
  width: 100%;
  background: url("backg.jpg") no-repeat center top / cover;
}

.welcome{
  margin: 0;
  padding-top: 15%;
}


h1{
  color: white;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding: 50px;
}

h1 span{
  color: #ff7301;
}

.button {
  background: rgba(185, 190, 193, 0.6);
  color: #fff ;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  width: 300px;
  height: 70px;
  text-align: center;
  padding: 0px 0px;
  margin: 0% 0% 0% 0%;
  border: 0px;
}

.button:active{
  background: #ffb400;
}


.button:hover{
  background: #8599a0;
  box-shadow: 0 0 5px 2px rgba(27, 27, 27, 1)
}

.group{
  display:flex;
  justify-content: space-around;
  padding-top: 70px;
}


